.DS_Store
node_modules
/dist
client/dist

/client/tests/e2e/reports/
selenium-debug.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# cache dirs
.cache
.pytest_cache
__pycache__/
.benchmarks

# Tets reports
coverage
.coverage
coverage.xml
pylint.txt
bandit-report.json

# Editor directories and files
.idea
.vscode

