[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.poetry]
name = "movici-viewer"
version = "1.0.1"
description = "Movici Viewer"
authors = ["Pelle Koster <pelle.koster@nginfra.nl>"]
include = ["movici_viewer/ui/**/*"]

[tool.poetry.scripts]
movici-viewer = "movici_viewer.main:main"

[tool.poetry.dependencies]
click = "^8.1.3"
fastapi = "^0.110.0"
movici-simulation-core = {version = ">=2.10.6", extras = ["models"]}
numba = ">=0.58.0"
orjson = "^3.9.1"
pydantic = "^2.0.0"
pydantic-settings = "^2.0.0"
python = "^3.8,<3.13"
uvicorn = {extras = ["standard"], version = "^0.22.0"}
prometheus-client = "^0.20.0"

pytest = {version = "^6.2.5", optional = true}
httpx = {version = "^0.24.1", optional = true}

[tool.poetry.extras]
dev = ["httpx", "pytest"]

[tool.black]
exclude = '''(
/(
  | \.direnv
  | \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | venv
)/
)
'''
include = '\.pyi?$'
line-length = 99
