// Import Bulma variables first
@import 'bulma/sass/utilities/_index.scss';
// Import custom variables (can override Bulma)
@import './variables';

// Add a font family
$family-primary: 'Source Sans Pro', sans-serif;
$radius: 4px;

// Link colors
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Modal
$modal-background-background-color: rgba($grey-light, 0.9);
$modal-card-head-background-color: $white;


// Forms colors
$background: $white-ter;
$input-color: $grey-darker !default;
$input-background-color: $white !default;
$input-border-color: $white-ter !default;
$input-height: $control-height !default;
$input-shadow: inset 0 1px 2px rgba($black, 0.1) !default;
$input-placeholder-color: rgba($input-color, 0.6) !default;

$input-hover-color: $grey-darker !default;
$input-hover-border-color: $grey-light !default;

$input-focus-color: $grey-darker !default;
$input-focus-border-color: $link !default;
$input-focus-box-shadow-size: 0 0 0 0.125em !default;
$input-focus-box-shadow-color: rgba($link, 0.25) !default;

$input-disabled-color: rgba($grey-dark, 0.9) !default;
$input-disabled-background-color: rgba($background, 0.8) !default;
$input-disabled-border-color: $grey-lightest !default;
$input-disabled-placeholder-color: $input-disabled-color !default;

$input-arrow: $link !default;
$input-icon-color: $grey-lighter !default;
$input-icon-active-color: $grey !default;

$input-radius: $radius !default;

// Global viewport styles
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100vh;
  width: 100vw;
}

// General
.app-main {
  padding-top: 3.25em;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  padding: 2em 1em 2em 1em;
  margin: 0 !important;
}
h1.title {
  margin-bottom: 0.5em !important;
  color: $black;
}

.has-padding {
  padding: 2em;
}
.has-padding-top {
  padding-top: 2em;
}

.is-rounded {
  @include border-radius;
}
.logo {
  background-image: url('../images/movici_logo.svg');
  background-repeat: no-repeat;
}
.logo-symbol {
  background-image: url('../images/movici_symbol.svg');
  background-repeat: no-repeat;
}
pre {
  background-color: $white-ter !important;
}
// Make the inactive buttons less prominent
.button[disabled] {
  opacity: 0.3 !important;
}

// override bulma utilities html css rules because of flow
html {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

// Bulk actions buttons
.has-addons {
  span {
    line-height: 2.4em;
  }
  button {
    margin-left: 0.5em;
  }
  button.is-white,
  button.is-white[disabled] {
    background-color: $white-ter;
    &:hover {
      background-color: $white;
    }
  }
}
// Make icons smaller
.status .fa-lg {
  font-size: 1em;
}

.icon.is-tiny {
  font-weight: 100;
  height: 0.75rem;
  width: 0.75rem;
}

// Tags
.tag {
  font-weight: bold;
  @include border-radius;
}
// Breadcrumbs
.breadcrumb {
  user-select: auto !important;
}
.breadcrumb li:after {
  padding: 0 10px;
  color: $black;
  content: '/';
}
.breadcrumb li:last-child:after {
  padding: 0;
  content: '';
}
.breadcrumb .linked {
  color: $primary;
  cursor: pointer;
}

option.attribute-option-disabled {
  color: $grey-light !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

button.is-small,
input.is-small {
  @include border-radius;
}

// Update some of Bulma's component variables
$body-background-color: $white-ter;
$control-border-width: 2px;
$input-shadow: none;
$card-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 0 rgba($black, 0.1) !default;

// Nav styles
$navbar-box-shadow-color: rgba($black, 0.1);
$navbar-box-shadow-size: 0 0 8px !default;
$navbar-item-img-max-height: 2.2rem !default;
.sidebar,
.login {
  background: $white;
}
$navbar-item-hover-background-color: $white-ter !important;
$menu-item-color: $black;
$menu-item-radius: 0.2em;
$menu-item-hover-color: $primary;
$menu-item-hover-background-color: $white-ter;
$menu-item-active-color: $link-invert;
$menu-item-active-background-color: $white-ter;
$menu-list-border-left: 1px solid $border;
$menu-label-color: $black;

.router-link-active {
  background: $white-ter;
  @include border-radius;
}
.menu-label {
  font-weight: bold;
}

.b-tooltip {
  .tooltip-content {
    padding: 0.35rem !important;
  }
}

.modal {
  .modal-card-title {
    color: $black;
  }
  .modal-close {
    background-color: rgba($black, 0.7);
  }
}

.modal-card-title {
  font-weight: bold;
}

// Footer
.footer {
  min-height: 4em;
  background-color: rgba($black, 0.05) !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  font-size: 0.8rem;
  .modal {
    font-size: 1rem;
  }
}

// Responsiveness
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 0;
$column-gap: 0.75rem;

//divider
$divider-background-color: $primary;
$divider-thickness: 0.075rem;
$divider-font-size: $size-7;
$divider-color: $primary;

.is-divider {
  display: block;
  position: relative;
  border-top: $divider-thickness solid $divider-background-color;
  height: $divider-thickness;
  margin: 4rem 0 2rem;
  text-align: left;
  &[data-content]::after {
    background: $primary-invert;
    color: $primary;
  }
  &::before {
    border-left-color: $primary;
  }
}

.is-divider[data-content]::after {
  background: $white;
  color: $primary;
  font-weight: bold;
  letter-spacing: 0.05rem;
  content: attr(data-content);
  display: inline-block;
  font-size: $divider-font-size;
  padding: 0.4rem 0.8rem 0 0;
  transform: translateY(-1.1rem);
  text-align: center;
  text-transform: uppercase;
}

// tables
.b-table .table tr.detail {
  background: $white-bis !important;
  .table {
    background: $white-bis !important;
  }
}

// Login
.hero {
  background-color: $white-ter;
}
.logo {
  background-size: contain;
  margin-bottom: 1em;
  width: 12em;
  height: 3em;
}
.logo-symbol {
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 3em;
  height: 3em;
}
.card {
  @include border-radius;
  h1 {
    font-size: 1.5em;
    color: $black;
    margin-bottom: 1em;
    font-weight: 900;
  }
  .card-image {
    img {
      border-top-left-radius: 0.3em;
      border-top-right-radius: 0.3em;
    }
  }
  .card-image-title {
    padding: 1em 2em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    color: $white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .caption {
    opacity: 0.7;
    color: $white;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.2em;
    font-size: 0.7em;
    padding: 0.3em 0.8em;
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 2;
    span {
      opacity: 1;
    }
  }
}

// Dashboard
.tile {
  line-height: 1.25em;
  flex-grow: 1 !important;
  h2 {
    font-size: 0.75em !important;
    font-weight: 900;
    color: $grey-light !important;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 1.5em;
  }
  h3 {
    font-size: 1.1em;
    font-weight: 900;
    padding-bottom: 0.75em;
  }
  .content h3 {
    font-size: 1.3em;
    font-weight: 900;
    padding-bottom: 0.75em;
  }
  a.linked {
    text-decoration: none !important;
    article {
      margin: 0 -0.5em;
      padding: 1em 0.5em;
      &:hover {
        background-color: $white-ter;
        @include border-radius;
      }
    }
    h3 {
      color: $primary;
      font-size: 1.1em;
      margin-bottom: 0;
      padding-bottom: 0.3em;
    }
    p {
      color: $black;
    }
  }
}

.tile.notification {
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}
.tile.notification a:not(.button):not(.dropdown-item) {
  color: $primary;
  &:hover {
    color: $blue;
  }
}

// Forms
.datepicker input,
.timepicker input {
  max-width: 130px;
}
.short {
  max-width: 70px;
  input {
    @include border-radius;
  }
}

// Pagination
a.pagination-link.is-current {
  background-color: $primary;
  border-color: $primary;
  color: $white;
}

// google charts
.chart-tooltip {
  padding: 10px !important;
  white-space: nowrap !important;
  width: auto !important;
  @include border-radius;
}

// Import Bulma and Oruga styles
@import 'bulma';
@import 'bulma-utilities/css/bulma-utilities.css';
@import '@oruga-ui/theme-bulma/dist/scss/bulma-build.scss';

@import './media-query';
@import '../../../movici-flow-lib/src/assets/sass/helpers';
@import '../../../movici-flow-lib/src/assets/sass/style';

