name: Main

on:
  push:
    branches:
    - main
    tags:
    - v[0-9]+.[0-9]+.[0-9]+

jobs:
  test-all-platforms:
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Install dependencies
      working-directory: ./server
      run: |
        poetry install --extras dev

    - name: Run tests
      working-directory: ./server
      run: |
        poetry run pytest tests/

  deploy:
    # We only want to run the deploy job if we've just created a version tag. in `on.push.tags`
    # we've specified to only this workflow on specific tags (and the main branch and pull
    # requests), so here we only need to check if we've been triggered from a tag
    if: startsWith(github.ref, 'refs/tags')
    environment: PyPI
    runs-on: ubuntu-latest
    needs: [test-all-platforms]
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: actions/setup-node@v3
      with:
        node-version: 19

    - name: Prepare package
      run: |
        make pre-init ui

    - name: Build and publish to pypi
      uses: JRubics/poetry-publish@v1.17
      with:
        pypi_token: ${{ secrets.PYPI_TOKEN }}
        package_directory: "server/"
