name: Pull Requests

on:
  pull_request:

env:
  python-version: "3.13"

jobs:
  lint-client:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-node@v6
      with:
        node-version: 22

    - name: Install Dependencies
      run: |
        npm install

    - name: Check formatting
      run: |
        npx prettier --check client/src/

  unit-tests:
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ env.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.python-version }}

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Install dependencies
      working-directory: ./server
      run: |
        poetry install --extras dev

    - name: Run tests
      working-directory: ./server
      run: |
        poetry run pytest tests/
