// Import Bulma's core
@import '~bulma/sass/utilities/_all';
@import '../../flow/assets/sass/variables';

// Update some of Bulma's component variables
$background: $white-ter;
$body-background-color: $white-ter;
$card-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 0 rgba($black, 0.1) !default;
$control-border-width: 2px;
// Add a font family
$family-primary: 'Source Sans Pro', sans-serif;
$radius: 4px;

// Link colors
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Forms colors
$input-color: $grey-darker !default;
$input-background-color: $white !default;
$input-border-color: $white-ter !default;
$input-height: $control-height !default;
$input-shadow: inset 0 1px 2px rgba($black, 0.1) !default;
$input-placeholder-color: rgba($input-color, 0.6) !default;
$input-hover-color: $grey-darker !default;
$input-hover-border-color: $grey-light !default;
$input-focus-color: $grey-darker !default;
$input-focus-border-color: $link !default;
$input-focus-box-shadow-size: 0 0 0 0.125em !default;
$input-focus-box-shadow-color: rgba($link, 0.25) !default;
$input-disabled-color: rgba($grey-dark, 0.9) !default;
$input-disabled-background-color: rgba($background, 0.8) !default;
$input-disabled-border-color: $white !default;
$input-disabled-placeholder-color: $input-disabled-color !default;
$input-arrow: $link !default;
$input-icon-color: $grey-lighter !default;
$input-icon-active-color: $grey !default;
$input-radius: $radius !default;
$input-shadow: none;

// menu
$menu-item-color: $black;
$menu-item-radius: 0.2em;
$menu-item-hover-color: $primary;
$menu-item-hover-background-color: $white-ter;
$menu-item-active-color: $link-invert;
$menu-item-active-background-color: $white-ter;
$menu-list-border-left: 1px solid $border;
$menu-label-color: $black;

// Responsiveness
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 0;
$column-gap: 0.75rem;

pre {
  background-color: $white-ter !important;
}
// Make the inactive buttons less prominent
.button[disabled] {
  opacity: 0.3 !important;
}

// override bulma utilities html css rules because of flow
html {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

// Bulk actions buttons
.has-addons {
  span {
    line-height: 2.4em;
  }
  button {
    margin-left: 0.5em;
  }
  button.is-white,
  button.is-white[disabled] {
    background-color: $white-ter;
    &:hover {
      background-color: $white;
    }
  }
}
// Make icons smaller
.status .fa-lg {
  font-size: 1em;
}
// Tags
.tag {
  font-weight: bold;
  @include border-radius;
  font-size: 0.75rem !important;
  height: 1.5em !important;
  line-height: 1.25 !important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

option.attribute-option-disabled {
  color: $grey-light !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

button.is-small,
input.is-small {
  @include border-radius;
}

.menu-label {
  font-weight: bold;
}

.b-tooltip {
  .tooltip-content {
    padding: 0.35rem !important;
  }
}

.modal {
  .modal-card-title {
    color: $black;
    font-weight: bold;
  }
  .modal-close {
    background-color: rgba($black, 0.7);
  }
}

.card {
  @include border-radius;
  h1 {
    font-size: 1.5em;
    color: $black;
    margin-bottom: 1em;
    font-weight: 900;
  }
  .card-image {
    img {
      border-top-left-radius: 0.3em;
      border-top-right-radius: 0.3em;
    }
  }
  .card-image-title {
    padding: 1em 2em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    color: $white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

// Forms
.datepicker input,
.timepicker input {
  max-width: 130px;
}

@import './media-query';
@import '../../flow/assets/sass/helpers';
@import '../../flow/assets/sass/style';

// Import Bulma and Buefy styles
@import '~bulma';
@import '~bulma-utilities/css/bulma-utilities.css';
@import '~buefy/src/scss/buefy';
